[submodule "sdks/protocol-sdk-cpp"]
	path = sdks/protocol-sdk-cpp
	url = git@github.com:catalyst-network/protocol-sdk-cpp.git
[submodule "sdks/protocol-sdk-java"]
	path = sdks/protocol-sdk-java
	url = git@github.com:catalyst-network/protocol-sdk-java.git
[submodule "sdks/protocol-sdk-objc"]
	path = sdks/protocol-sdk-objc
	url = git@github.com:catalyst-network/protocol-sdk-objc.git
[submodule "sdks/protocol-sdk-python"]
	path = sdks/protocol-sdk-python
	url = git@github.com:catalyst-network/protocol-sdk-python.git
[submodule "sdks/protocol-sdk-ruby"]
	path = sdks/protocol-sdk-ruby
	url = git@github.com:catalyst-network/protocol-sdk-ruby.git
[submodule "sdks/protocol-sdk-php"]
	path = sdks/protocol-sdk-php
	url = git@github.com:catalyst-network/protocol-sdk-php.git
[submodule "sdks/protocol-sdk-js"]
	path = sdks/protocol-sdk-js
	url = git@github.com:catalyst-network/protocol-sdk-js.git
